<div ng-controller="SecurityRatingCtrl as secRatingctrl">
  <form>
    <div class="row">    
      <div class="form-group" ng-controller="DatePickerController as dateCtrl">
		<div class="col-sm-1"><span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="secRatingctrl.getRatings(secRatingctrl.startDate, secRatingctrl.endDate)"><i class="glyphicon glyphicon-search"></i></button></span></div>
		<div class="col-sm-2">
			<p class="input-group">
				<input name="start_date" type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="secRatingctrl.startDate" is-open="dateCtrl.datePickers.startDate"
				 min-date="'2013-08-03'" max-date="{{dateCtrl.maxDate}}" datepicker-options="dateCtrl.dateOptions" date-disabled="dateCtrl.disabled(date, mode)" 
				 ng-required="true" close-text="Close" 
				 placeholder='start date'
				 popover-trigger="mouseenter" popover="Weekend disabled!" />
	              <span class="input-group-btn">
	                <button type="button" class="btn btn-default" ng-click="dateCtrl.open($event, 'startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
	              </span>
            </p>
        </div>
        <div class="col-sm-2">
        <p class="input-group">
				<input name="end_date" type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="secRatingctrl.endDate" is-open="dateCtrl.datePickers.endDate"
				 min-date="'2013-07-01'" max-date="" datepicker-options="dateCtrl.dateOptions" date-disabled="dateCtrl.disabled(date, mode)" 
				 ng-required="true" close-text="Close"
				 placeholder='end date' />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="dateCtrl.open($event, 'endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
		</div>
		<div class="col-sm-3"></div>
      </div>    
    </div>
  </form>
  <div id="secRatingGrid" ui-grid="secRatingctrl.gridOptions1" ui-grid-resize-columns class="grid-sec-ratings"></div>
</div>
